body {
  background-color: #004481;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #004481;

  & .title {
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
  }

  & .row {
    width: 50vw;
    min-width: 500px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    background-color: white;

    & .forms {
      border-radius: 10px;
      width: 400px;
      height: 200px;
      margin: 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & input {
        border: none;
        border-radius: 1px;
        border-bottom: 1px solid grey;
      }

      & .form-container {
        display: flex;
        flex-direction: column;

        & > * {
          margin-bottom: 7px;
        }
      }

      & [class^="error"] {
        color: red;
      }

      & button {
        box-shadow: 0 10px 14px -7px #3e7327;
        background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
        background-color: #77b55a;
        border-radius: 4px;
        border: 1px solid #4b8f29;
        display: inline-block;
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 6px 19px;
        text-decoration: none;
        text-shadow: 0 0 0 #5b8a3c;
        margin-top: 10px;
      }

      & button:hover {
        background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        background-color: #72b352;
      }

      & button:active {
        position: relative;
        top: 1px;
      }
    }

    & .icons {
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      & svg {
        width: 30px;
      }

      & .budget-amount {
        font-size: 32px;
        color: lightgreen;
      }

      & .expense-amount {
        font-size: 32px;
        color: lightcoral;
      }

      & .balance-amount {
        font-size: 32px;
      }
    }

    & .expenses {
      margin: 0 20px;
    }
  }

  & .row:last-child {
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;

    & .headers {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row;
      width: 100%;
      border-bottom: 3px solid;
      border-image: linear-gradient(120deg, #004481 0%, #c2e9fb 100%) 1;
      padding: 5px 0;

      & > * {
        width: 33%;
      }
    }

    & .history {
      width: 100%;
      display: flex;
      justify-content: space-around;
      overflow: scroll;
      flex-grow: 1;

      & > * {
        width: 33%;
      }
    }
  }
}

.green {
  color: lightgreen;
}

.red {
  color: coral;
}
